page-receive {
    ion-card{
        width:100%;
        padding: 0 !important;
        background-color: #FFFFFF;//#72C2F7;
        margin-left:0 !important;
        margin-right:0 !important;
        ion-card-content{
            padding: 0 !important;
        }
    }
}